.circle1{
    background-color: blue;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    position: absolute;
    filter: blur(100px);
    animation-name: animation1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.circle2{
    background-color: blue;
    width: 350px;
    height: 350px;
    filter: blur(100px  );
    border-radius: 50%;
}
@keyframes animation1 {
    0%{transform: translateX(-10px);}
    50%{transform: translateX(-80px);}
    100%{transform: translateX(-0px);}
}
.animationul li{
position: relative;
overflow: hidden;
font-family: poppins;

}
.animationul li::after{
    content: "";
    background-color: rgb(23, 23, 78);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: -100%;
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
}
.animationul li:hover::after{
    bottom: 0;
}
.animationul li a:hover{
    color: aliceblue;
    z-index: 9;
    position: relative;
}